@page "/products"
@using CS.Core
@inject HttpClient Http
@attribute [StreamRendering]

<h3>Products</h3>

@if (products is null) {
    <p><em>Loading....</em></p>
}
else if (products.Count() == 0) {
    <p><em>Unable to get products</em></p>
}
else {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products) {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);

        products = await Http.GetFromJsonAsync<Product[]>("product");
    }
}
